//Left Right Animación
@keyframes lrAnimation {
    0% {
        opacity: 0;
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes btAnimation {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes gallery {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: scale(.5);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes menuItem {
    0% {

        transform: scale(.5);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }
}