section.conocenos#conocenos.py-lg
    .container
        .row.conocenos-section.py 
            .col-12.col-md-6.order-1(data-aos="fade-up" data-aos-duration='1500')
                picture.picture
                    source(srcset='images/02-doctora@2x.png' media='(min-width: 768px)').picture__img 
                    img(src='images/02-doctora.png' alt='Doctor').picture__img
            .col-12.col-md-6.pb-lg 
                .content-text.flow 
                    h2.title-section(data-aos="fade-up" )   Somos expertos en  trasplante  capilar y medicina estética            
                    p.paragraph(data-aos="fade-up") There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
                    p.paragraph(data-aos="fade-up") There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                    button.btn.btn-primary Más Información
        .row.conocenos-section 
            .col-12.col-md-6.pb-lg
                .content-text.flow 
                    h2.title-section(data-aos="fade-up" )    La Clínica
                    p.paragraph(data-aos="fade-up") There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
                    p.paragraph(data-aos="fade-up") There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                    button.btn.btn-primary Más Información
            .col-12.col-md-6(data-aos="fade-up")
                picture.picture
                    source(srcset='images/02-clinica@2x.png' media='(min-width: 768px)').picture__img 
                    img(src='images/02-clinica.png' alt='Doctor').picture__img