footer.footer.pt-lg
    .container 
        .row 
            .col-sm-6.col-lg-4.flow-footer
                .logo
                    a(href="#")
                        img(src="images/logo.svg", alt="Logo Peoples")
                p.paragraph There are many variations of passages of Lorem Ipsum available, but the majority 
                ul.footer__list.footer__list-social
                    li.footer__item.footer__item-social 
                        a(href="#").footer__link 
                            svg.icon
                                use(xlink:href='images/sprite.svg#facebook-circle-fill')
                    li.footer__item.footer__item-social
                        a(href="#").footer__link 
                            svg.icon
                                use(xlink:href='images/sprite.svg#instagram-fill')
                    li.footer__item.footer__item-social 
                        a(href="#").footer__link 
                            svg.icon
                                use(xlink:href='images/sprite.svg#linkedin-box-fill')
                    li.footer__item.footer__item-social 
                        a(href="#").footer__link 
                            svg.icon
                                use(xlink:href='images/sprite.svg#twitter-fill')
            .col-sm-6.col-lg-2
                ul.footer__list.flow-footer 
                    li.footer__item
                        a(href="#").footer__link Sitio 
                    li.footer__item 
                        a(href="#").footer__link Inicio
                    li.footer__item
                        a(href="#").footer__link Conócenos 
                    li.footer__item 
                        a(href="#").footer__link Galería
                    li.footer__item 
                        a(href="#").footer__link Médicos
            .col-sm-6.col-lg-2
                ul.footer__list.flow-footer 
                    li.footer__item
                        a(href="#").footer__link Injertos Capilares 
                    li.footer__item 
                        a(href="#").footer__link Injerto Capilar
                    li.footer__item
                        a(href="#").footer__link Injerto Barba 
                    li.footer__item 
                        a(href="#").footer__link Injerto de Cejas 
            .col-sm-6.col-lg-4
                ul.footer__list.flow-footer 
                    li.footer__item
                        a(href="#").footer__link Injertos Capilares 
                    p.paragraph  Politica de privacidad, Aviso legal, Cookies
                        |    Privacy Policy, Legal Notice and Cookies
                        |    Política de calidad
                        |    Trabaja con nosotros Work us
        .row 
            span.footer__copy.text-center.py-md &copy; All Rights Reserved By 
                    a(href="https://wilsonweb.netlify.app/") Wilson Muñoz 
        .scrollTop &uarr;

