section.galeria#galeria.bg.py-lg 
    .container
        h1.title-section.text-center.py-md(data-aos="zoom-in" data-aos-duration='2000')  Nuestra Galería
        ul.grid.pb-md 
            li.grid__item.img1(data-aos="zoom-in" data-aos-duration='1500')
                picture 
                    source.imgG(srcset='images/01@2x.jpg' media='(min-width: 768px)')
                    img.grid__img(src="images/01.jpg", alt="Persona agarrandose el pelo")
            li.grid__item.img2(data-aos="zoom-in" data-aos-duration='2000') 
                picture 
                    source.imgG(srcset='images/02@2x.jpg' media='(min-width: 768px)') 
                    img.grid__img(src="images/02.jpg", alt="Caminando al quirófano") 
            li.grid__item.img3(data-aos="zoom-in" data-aos-duration='2500')
                picture 
                    source.imgG(srcset='images/03@2x.jpg' media='(min-width: 768px)') 
                    img.grid__img(src="images/03.jpg", alt="Quirófano")
            li.grid__item.img4(data-aos="zoom-in" data-aos-duration='3000') 
                picture 
                    source.imgG(srcset='images/04@2x.jpg' media='(min-width: 768px)') 
                    img.grid__img(src="images/04.jpg", alt="Recepción")
            li.grid__item.img5(data-aos="zoom-in" data-aos-duration='3500') 
                picture 
                    source.imgG(srcset='images/05@2x.jpg' media='(min-width: 768px)') 
                    img.grid__img(src="images/05.jpg", alt="Clínica")
            li.grid__item.img6(data-aos="zoom-in" data-aos-duration='4000')
                picture 
                    source.imgG(srcset='images/06@2x.jpg' media='(min-width: 768px)') 
                    img.grid__img(src="images/06.jpg", alt="Doctores hablando")