section.garantia.py-lg.bg 
    .container 
        h2.title-section.text-center.pb-md(data-aos="zoom-in" data-aos-duration='2000')  Trasplante capilar con garantía
        .row
            .col-md-4
                .card.mt-md(data-aos="flip-left" data-aos-duration='1500')  
                    .card__icon
                        svg.icon
                            use(xlink:href='images/sprite.svg#emotion-happy-fill')
                    h3.card__title Tratamiento Indoloro
                    p.card__paragraph Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    a.card__link(href="") See More &rarr;
            .col-md-4
                .card.mt-md(data-aos="flip-left" data-aos-duration='1500')  
                    .card__icon 
                        svg.icon
                            use(xlink:href='images/sprite.svg#star-smile-fill')
                    h3.card__title Tratamiento Indoloro
                    p.card__paragraph Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    a.card__link(href="") See More &rarr;
            .col-md-4
                .card.mt-md(data-aos="flip-right" data-aos-duration='1500')  
                    .card__icon 
                        svg.icon
                            use(xlink:href='images/sprite.svg#add-box-fill')
                    h3.card__title Tratamiento Indoloro
                    p.card__paragraph Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    a.card__link(href="") See More &rarr;