.hero#inicio 
    .container 
        .row 
            .col-md-12.col-lg-6.box-title
                h1.title.lr-animation Recupera tu pelo  ahora y para siempre.
                p.paragraph.lr-animation-paragraph Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .buton-box
                    button.btn.btn-primary.bt-animation Diagnóstico Online
                    button.btn.btn-secondary.bt-animation Pide Cita
            .col-md-12.col-lg-6(data-aos="fade-up" data-aos-duration='1000')
                picture.picture
                    source(srcset='images/01-doctor-hero@2x.png' media='(min-width: 768px)').picture__img 
                    img(src='images/01-doctor-hero.png' alt='Doctor').picture__img
                    .buble.buble-left1
                        .buble__box 
                            svg.icon
                                use(xlink:href='images/sprite.svg#team-fill') 
                            span 250 Profesionales
                    .buble.buble-left2
                        .buble__box  
                            svg.icon
                                use(xlink:href='images/sprite.svg#community-fill') 
                            span 65 Quirófanos
                    .buble.buble-right1
                        .buble__box  
                            svg.icon
                                use(xlink:href='images/sprite.svg#shield-star-fill') 
                            span 12 Años de experiencia
