section.medicos#medicos.py-lg 
    .container
        .medicos-title.text-center.py-md
            h2.title-section  Nuestros Médicos Cualificados 
            p.paragraph There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
        .row.pb-md 
            .col-md-4.pb-lg(data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration='3500') 
                picture.picture-medical.picture
                    source(srcset='images/medico-01@2x.jpg' media='(min-width: 768px)').picture-medical__medico 
                    img(src='images/medico-01.jpg' alt='Doctora').picture-medical__medico
                h3.picture-medical__name Dra. Jessica Taillor
                p.picture-medical__cargo Médico Especialista
            .col-md-4.pb-lg(data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration='1500')  
                picture.picture
                    source(srcset='images/medico-02@2x.jpg' media='(min-width: 768px)').picture-medical__medico 
                    img(src='images/medico-02.jpg' alt='Doctor').picture-medical__medico
                h3.picture-medical__name Dr. Brian Adam
                p.picture-medical__cargo Médico Especialista
            .col-md-4.pb-lg(data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration='2000')  
                picture.picture
                    source(srcset='images/medico-03@2x.jpg' media='(min-width: 768px)').picture-medical__medico 
                    img(src='images/medico-03.jpg' alt='Doctor').picture-medical__medico
                h3.picture-medical__name Dr. Simon Terry
                p.picture-medical__cargo Médico Especialista