section.newsletter.my-lg
    .container 
        .row 
            .col-12 
                .news.text-center 
                    h2.news__title.title-section Subscribete a Nuestro Newsletter
                    p.news__paragraph.paragraph There are many variations of passages of Lorem Ipsum available, but the majority 
                    form.news__form(action="") 
                        input(type="text" placeholder="Ingrese su dirección de correo").news__input
                        button.btn.btn-primary Enviar