section.py-lg.bg
    .container.testimonial 
        .row 
            .testimonial__slider.py-md
                .card 
                    p.paragraph There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
                    .card__avatar 
                        img(src="images/avatar-1.jpg", alt="").card__img
                        .card__box-name
                            h4.card__avatar-name Paul Peterson 
                            p paciente
                .card 
                    p.paragraph There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
                    .card__avatar 
                        img(src="images/avatar-2.jpg", alt="").card__img
                        .card__box-name
                            h4.card__avatar-name Paul Peterson 
                            p paciente
                .card 
                    p.paragraph There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
                    .card__avatar 
                        img(src="images/avatar-1.jpg", alt="").card__img
                        .card__box-name
                            h4.card__avatar-name Paul Peterson 
                            p paciente
                .card 
                    p.paragraph There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
                    .card__avatar 
                        img(src="images/avatar-2.jpg", alt="").card__img
                        .card__box-name
                            h4.card__avatar-name Paul Peterson 
                            p paciente

            button.btn.prev(aria-label='Previous') &#11106;
            button.btn.next(aria-label='Next') &#11104;
            .dots(role='tablist')