@use '../utils/variables'as *;
@use '../utils/mixins'as *;

.hero {
    padding: 18rem 0 7.2rem;
}

.header .btn:hover,
.header .btn:active {
    transform: translateX(4px);

    @include respond(sm) {
        transform: translateX(6px);
    }
}

.header {
    padding: 1.2rem 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    transition: .3s ease;

    @include respond(md) {
        padding: 0;
        background-color: var(--secondary-color);
    }
}

.header.shadow {
    box-shadow: var(--box-shadow);
    background-color: var(--secondary-color);
    padding: 1.6rem 0;
}

.box-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-title>* {
    margin-bottom: 2.4rem;
}

.buton-box {
    display: flex;
}

.buton-box .btn-primary {
    margin-right: 2.4rem;
}

.logo a {
    text-decoration: none;
    display: flex;

    & img {
        width: 50%;
        padding: .5rem 0;
    }
}

.hamburger {
    display: none;

    @include respond(lg) {
        display: block;
    }
}

.box-logo {
    display: flex;
    align-items: center;

    @include respond(lg) {
        justify-content: space-between;
    }
}

.bg {
    background-color: #F0FAF7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%235DC9EE'/%3E%3Cstop offset='1' stop-color='%23020E12'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%230B556F'/%3E%3Cstop offset='1' stop-color='%23EDF9FD'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.conocenos-section {
    align-items: center;
}

.galeria .title-section {
    margin: 0;
}

.medicos-title {
    max-width: 90rem;
    margin: 0 auto;
}

.show {

    @include respond(lg) {
        padding: 2rem 0;
        height: 300px;
    }
}

.garantia .card:not(:nth-child(1)) {
    margin-top: 2.4rem;
}

body .container {

    @include respond(md) {
        padding-right: var(--bs-gutter-x, 1.8rem);
        padding-left: var(--bs-gutter-x, 1.8rem);
    }
}

.footer .row {
    @include respond(lg) {
        row-gap: 2.4rem;
    }
}

.scrollTop {
    position: fixed;
    bottom: 80rem;
    right: 4rem;
    width: 6.2rem;
    height: 6.2rem;
    background-color: var(--primary-color);
    cursor: pointer;
    z-index: 999;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    font-size: 3.2rem;
    box-shadow: var(--box-shadow);
    opacity: 0;
    visibility: hidden;
    transition: .5s ease;
}

.scrollTop.active {
    bottom: 4rem;
    visibility: visible;
    opacity: 1;
}


#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox.active img {
    animation: gallery .3s ease-out;

    @include respond(sm) {
        width: 80%;
    }
}