<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='icon' type='image/svg+xml' href='images/favicon.svg')
        link(rel='icon' type='image/png' href='images/favicon.png')

        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap")
        link(rel="stylesheet", href="css/style.css") 
        title People´s | Recupera Tu Cabello
        script(src="js/glider.js")
    body    
        block nav
        block header 
        block garantia 
        block conocenos 
        block galeria 
        block medicos
        block testimonial
        block newsletter
        block footer
        script(src="js/aos.js")
        script(src="js/script.js")
        //- <script>  AOS.init();</script>