extends template/template

block nav  
    include layout/nav
block header 
    include layout/header  
block garantia 
    include layout/garantia  
block conocenos 
    include layout/conocenos 
block galeria 
    include layout/galeria 
block medicos 
    include layout/medicos 
block testimonial 
    include layout/testimonial 
block newsletter
    include layout/newsletter
block footer
    include layout/footer

