.footer {
    background-color: var(--primary-color);
    color: var(--white);

    & .logo a {
        color: var(--white);
    }

    &__list {
        list-style: none;
    }

    & .paragraph {
        font-weight: 300;
        max-width: 40rem;
        font-size: 1.6rem;
    }

    &__item:first-child &__link {
        font-weight: 500;
    }

    &__link {
        text-decoration: none;
        color: var(--white);
        font-size: 1.6rem;
        font-weight: 300;
        display: flex;

        & .icon {
            width: 3.2rem;
            height: 3.2rem;
            fill: var(--primary-color);
            margin: 0;
        }
    }

    &__list-social {
        display: flex;


    }

    &__item {
        & a:hover {
            text-decoration: underline;
        }
    }

    &__item-social {
        width: 6.4rem;
        height: 6.4rem;
        border-radius: 50%;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: .8rem;
        transform: scale(.9);
        transition: .3s ease;

        &:hover {
            transform: scale(1);
            background-color: var(--secondary-color);
        }
    }

    &__copy {
        font-size: 1.2rem;

        & a {
            text-decoration: none;
            color: var(--white);
            font-weight: 500;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}